/* * {
  outline: solid 1px red;
} */


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

h1 {
  margin-left: 25px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

footer {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin-top: 10px;
  width: 100vw;
  height: 7.5vh;
}

.login-view-section {
  text-align: center;
}

.book-room-btn {
  margin-right: 80px;
}

.home-view-section,
.booking-reservation-view-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.past-reservations-container,
.upcoming-reservations-container,
.upcoming-reservations-container2 {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 90vw;
  height: 250px;
  padding: 10px;
  margin: 10px 0 0 0;
  overflow: auto;
}

.form-details-container {
  text-align:center;
  width: 90vw;
  height: 90vh;
  padding: 10px;
  margin: 10px 0 0 0;
}

.upcoming-reservation-details,
.past-reservation-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 20vh;
  border-radius: 20px;
  margin-left: 1vw;
  margin-right: 1vw;
}

.filtered-booking-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 15vh;
  border-radius: 20px;
}

.filtered-booking-details:hover {
  cursor: pointer;
  background-color: darkgrey;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 90vw;
  height: 85vh;
}

.booking-result-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  height: 85vh;
  overflow: auto;
}

.booking-search-box {
  width: 90vw;
  height: 15vh;
}

.total-amt-spent-container {
  text-align: center;
  width: 50vw;
  padding: 10px;
  margin: 10px 0 0 0;
}

.result-message {
  color: black;
}

.total-amt-spent {
  font-size: 2em;
}

.amt-value {
  font-size: 1.5em;
}

.hidden {
  display: none;
}